.ant-image-preview-img {
  margin: 0 auto;
}

.ant-image-preview-img-wrapper::before {
  height: 10% !important;
}

.ant-form-item {
  margin-bottom: 16px;
}

.ant-pagination {
  margin-top: 32px;
}

.ant-table-tbody > tr.ant-table-row-selected > td {
  background: #ecf4fc;
  border-color: rgba(0, 0, 0, 0.03);
}

.ant-card-body {
  padding: 12px;
}

:deep(.ant-card-meta-title) {
  font-size: 14px;
}
