/* 全局主色 */
@primary-color: hsl(215, 100%, 32%);
/* 链接色 */
@link-color: hsl(215, 100%, 32%);
/* 成功色 */
@success-color: hsl(137, 49%, 48%);
/* 警告色 */
@warning-color: hsl(31, 89%, 55%);
/* 错误色 */
@error-color: hsl(0, 76%, 56%);
/* 白色 */
@white: hsl(0, 0%, 100%);
/* 主字号 */
@font-size-base: 14px;

@border-radius-base: 4px;
